@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --primary-color: #84BE43;
    --secondary-color: #FFFFFF;
    --secondary-dark: #1B1B1B;

    --color-grey: #EEEEEE;
    --color-dark-grey: #CCCCCC;

    --icon-size: 30px;

    --opacity-none: 0;
    --opacity-dim: 0.5;
    --opacity-full: 1;

    --transition-fastest: 0.2s;
    --transition-fast: 0.4s;
    --transition-medium: 0.5s;
    --transition-slow: 0.7s;
    --transition-slowest: 1s;

    --gap-minimum: 0.25rem;
    --gap-default: 0.5rem;
    --standard-padding: 2rem;

    --page-width-100: 100px;
}

html,
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}
.page_section:not(.section_no_padding){
    padding: calc(var(--gap-default) * 5) var(--standard-padding);
}
.page_section .page_section_header {
    display: flex;
    justify-content: center;
    padding: var(--standard-padding) 0;
}
.page_section .page_section_header h2 {
    display: inline-block;
    font-weight: 200;
    position: relative;
    top: calc(var(--gap-minimum) * -5.5);
    font-size: calc(var(--gap-default) * 3);
}
.page_section .page_section_content{
    width: 100%;
    margin: 0 auto;
    max-width: calc(var(--page-width-100) * 10);
}
.page_section .page_section_content p{
    font-weight: 200;
    margin-bottom: calc(var(--gap-default) * 4);
}
.page_section .page_section_home_services {
    display: grid;
    place-items: center;
    align-items: flex-start;
    grid-template-columns: repeat(1, 1fr);
}
.page_section .video_container{
    position: relative;
}
.page_section .video_container video{
    display: block;
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: top;
    background: var(--secondary-dark);
}
.page_section .video_container .video_player_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.85);
}
.page_section .video_container > article{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding: var(--standard-padding);
    transform: translateY(-50%);
    z-index: 2;
}
.home_service_card {
    width: 100%;
    margin-bottom: calc(var(--gap-default) * 5);
    max-width: 300px;
}
.home_service_card > img {
    width: 100%;
    margin: 0 auto;
    max-width: 100px;
}
.home_service_card_title{
    margin: var(--gap-default) 0;
}
.home_service_card_title strong{
    font-weight: 400;
    font-size: calc(var(--gap-default) * 2.4);
    color: var(--primary-color);
    text-transform: uppercase;
    min-height: 62px;
}
.home_service_card_sub_title span{
    font-weight: 200;
}
.text_centered{
    text-align: center;
}
.text_white{
    color: var(--secondary-color);
}
.btn_wrapper{
    display: flex;
    margin: calc(var(--standard-padding) * 3) 0;
    justify-content: center;
}
.btn {
    display: inline-block;
    width: 100%;
    user-select: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-dark-grey);
    background: transparent;
    padding: 12px 25px;
    border-radius: var(--gap-minimum);
}
.btn_dark_inverted{
    color: var(--secondary-dark);
    background: var(--secondary-color);
}
@media (min-width: 568px){
    .btn{
        width: auto;
    }
    .page_section .page_section_header h2 {
        font-size: calc(var(--gap-default) * 5);
    }
}
@media (min-width: 667px){
    .page_section .page_section_home_services{
        grid-template-columns: repeat(3, 1fr);
    }
}