.page_slider_container{
    --slider-height-400: 400px;
    --slider-height-500: 500px;
    position: relative;
    height: var(--slider-height-400);
    opacity: var(--opacity-none);
    animation: loadIn calc(var(--transition-slowest) * 3) ease 1 forwards;
}
.page_slider_container .page_slider_controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}
.page_slider_container .page_slider_controls button{
    -webkit-clip-path: circle(40%);
    clip-path: circle(40%);
    opacity: var(--opacity-dim);
    transform: scale(0.8);
    transition: var(--transition-fast) linear;
}
.page_slider_container .page_slider_controls svg{
    width: 100%;
    height: 100%;
    max-width: var(--icon-size);
    max-height: var(--icon-size);
}
.page_slider_container .page_slider_wrapper{
    width: 100%;
    min-height: var(--slider-height-400);
    height: var(--slider-height-400);
    position: inherit;
    overflow: hidden;
}
.page_slider_container .page_slider_wrapper .page_slider{
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--slider-height-400);
    background: pink;
    display: grid;
    place-items: center;
    transition: calc(var(--transition-slowest) * 2) ease;
}
.page_slider_container .page_slider_list{
    display: flex;
}
.page_slider_container .page_slider_list > span{
    flex: 1;
    min-height: 2px;
    transition: var(--transition-fast) ease-in-out;
    position: relative;
    background: var(--color-grey);
}
.page_slider_container .page_slider_list > span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0);
    background: var(--primary-color);
    transition: var(--transition-fast) linear;
    z-index: 1;
}
.page_slider_container .page_slider_list .current_list_indicator::before{
    animation: drawSliderList 1s ease 1 forwards;
}
@media only screen and (max-width: 1000px) and (orientation: landscape){
    .page_slider_container .page_slider_wrapper{
        min-height: unset !important;
        height: 100vh !important;
    }
}
@media (min-width: 1024px){
    .page_slider_container{
        min-height: var(--slider-height-500);
        height: var(--slider-height-500);
    }
    .page_slider_controls button:hover{
        opacity: var(--opacity-full);
        transform: scale(1);
    }
    .page_slider_container .page_slider_wrapper{
        min-height: var(--slider-height-500);
        height: var(--slider-height-500);
    }
    .page_slider_container .page_slider_wrapper .page_slider{
        height: 500px;
    }
}
@keyframes loadIn{
    0%{
        opacity: var(--opacity-none);
    }
    100%{
        opacity: var(--opacity-full);
    }
}
@keyframes drawSliderList {
    0%{
        clip-path: circle(0);
    }
    100%{
        clip-path: circle(100%);
    }
}